<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate News</title>
  </head>
  <body>
    <header>
      <h1>Evaluate News</h1>
      <nav>Do I need Nav??</nav>
    </header>
    <main>
      <section>
        <h2>Enter the URL you want to analyze:</h2>
        <form>
          <input id="url" type="text" name="input" value="" placeholder="URL">
          <input id="submit-form" type="submit" name="" value="Submit">
        </form>
      <section>
      <section>
        <h3>Form Results:</h3>
        <div id="results"></div>
      </section>
    </main>
    <footer>
      <p class="copy">&copy;2020 Laura Franklin</p>
    </footer>
  </body>
</html>
