<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch News</title>
  </head>
  <body>
    <header>
      <h1>Fetch News</h1>
    </header>
    <main>
      <section class="form-section">
        <h2>Enter your search topic:</h2>
        <form>
          <input id="title" type="text" name="input" value="" placeholder="topic">
          <input id="submit-form" type="submit" name="" value="Submit">
        </form>
      </section>
      <section class="results-section">
        <h2>Search Results</h2>
        <div id="results-div"></div>
      </section>
    </main>
    <footer>
      <p class="copy">&copy;2020 Laura Franklin</p>
    </footer>
    <script>
 // Check that service workers are supported
 if ('serviceWorker' in navigator) {
     // Use the window load event to keep the page load performant
     window.addEventListener('load', () => {
         navigator.serviceWorker.register('/service-worker.js');
     });
 }
</script>
  </body>
</html>
